.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 5px;
    position: fixed;
    bottom: 0;
    z-index: 10;
    width:100%;
    background: #fff
}
.footer__icon{
    font-size: 30px !important;

}
@media(min-width: 800px){
    .footer{
        display: none;
    }
}