.main{
    display: flex;
    
}


.main__display{
    margin-left: 10px;
}

.videocard{
    background-color: rgba(220, 219, 219, 0.2);
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    padding-top: 8%;
    width: 85%;
}
@media(max-width: 768px){
    .videoCard{
        width: 85%;
    }
}

